<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="auth-container">
    <h1>Bienvenue sur GeoAlert</h1>
    <h2>Votre solution de trafic en temps  réel</h2>
    <p><a href="/auth/login">Connexion</a> | <a href="/auth/register">Inscription</a></p>
  </div>
</body>
</html>
